BOT_TOKEN="PON_AQUI_TU_TOKEN_DE_TELEGRAM"
ADMIN_ID="PON_AQUI_TU_ID_DE_TELEGRAM"

BOT_NAME="DarkZsaid SSH Bot"
PANEL_NAME="DarkZsaid"

HOST="TU_IP_O_DOMINIO"
SSH_PORT="22"
WS_PORT="80"
SSL_PORT="443"
UDP_CUSTOM="36712"
